{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block titulo %}
    {%if object %}Modificar practica de laboratorio - {{object}}{%else%}Registrar practica laboratorio{%endif%}
{% endblock titulo %}

{% block titulo_pagina %}
    {%if object %}Modificar practica de laboratorio - {{object}}{%else%}Registrar practica laboratorio{%endif%}
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Laboratorio</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Practicas</a></li>
    <li class="breadcrumb-item active">{%if object %}Modificar - {{object}}{%else%}Registrar{%endif%}</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    {%if object %}Modificar practica de laboratorio - {{object}}{%else%}Registrar practica laboratorio{%endif%}
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            {%if object %}Modificar {{object}}{%else%}Registrar{%endif%} la información de una practica de laboratorio
        </div>
    </div>
    <div>
        <form method="post" autocomplete="off">{% csrf_token %}
            <div class="row mt-3">
                <div class="col-12">
                    {% bootstrap_form form %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-secondary" href="{% url 'laboratorios:listado_practicas' %}">
                        <i class="icon-arrow-left"></i> Volver
                    </a>
                </div>
                <div class="col-6" align="right">
                    <button class="btn btn-principal" type="submit">
                        {%if object %}Modificar {%else%}Registrar practica {%endif%}<i class="icon-arrow-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>




    <!-- Trigger the modal with a button -->
    <div class="row mt-3">
        <div class="col-6" align="right">
            <a href="#modal_teme_lime" class="btn btn-principal" data-bs-toggle="modal">Consultar horarios</a>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_teme_lime">
        <div class="modal-dialog">
            <div class="modal-content" style="height: 800px;" >
                <div class="modal-header">
                    <h4 class="modal-title">Horarios para practicas en el laboratorio <b>{{laboratorio}}</b></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                </div>
                <div class="modal-body">
                    <div class="" >
                        <div id="calendar" class="calendar fc fc-media-screen fc-direction-ltr fc-theme-bootstrap" style="overflow-y: scroll;">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-secundario" data-bs-dismiss="modal">Cancelar</a>
                    <button id="confirmar" class="btn btn-principal" type="submit">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido_panel %}

{% block js %}
    {{block.super}}
    <script src="{% static 'js/custom/calendario_timeline.js'%}"></script>
    <script>
        let eventos = {{practicas_registradas|safe}}

        var Calendario = function () {
            "use strict";
            return {
                //main function
                init: function () {
                    calendarioTimeLine(eventos=eventos);
                }
            };
        }();

        $(document).ready(function() {
            Calendario.init();
        });

    </script>
    <script>
        $("#id_laboratorio").on("change", function () {
            id_laboratorio_seleccionado = $(this).val();
        });

    </script>
{% endblock js %}