*.pyc
*__pycache__
apps/*/migrations/*
!apps/*/migrations/__init__.py
secrets.json
service_account.json

apps/media/*
!apps/media/pruebas
!apps/media/tmp/init.txt

.vscode/
.idea/
*.bash
geckodriver.exe
geckodriver.log
tests

.vscode

*.rdb

.ngrok.exe