{% extends "base_tablas.html" %}

{% block titulo %}
    Resumen calificaciones por evaluaciones
{% endblock %}

{% block titulo_pagina %}
    Resumen calificaciones por evaluaciones
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Reportes</a></li>
    <li class="breadcrumb-item active"><a href="javascript:;">Resumen calificaciones por evaluaciones</a></li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Resumen calificaciones por evaluaciones
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-8 my-2">
            A continuación se muestran las calificaciones obtenidas por el estudiante <b>{{estudiante}}</b> en cada una de las evaluaciones en sus respectivas competencias en el curso de <b>{{ curso }}</b>
        </div>
        <div class="col-4 my-2">
            <a class="btn btn-xs btn-secondary mt-1" href="{% url 'dashboards:cursos_estudiante' estudiante.pk %}">
                Volver a listado estudiantes
            </a>
        </div>
    </div>
    <div class="contenedor-tabla">
        <table class="table table-bordered table-striped table-td-valign-middle display tabla-fix">
            <thead>
            <tr>
                <th>{{tipo}}</th>
                <th>Evaluación</th>
                <th>Calificación</th>
            </tr>
            </thead>
            <tbody>
                {% for calificacion, evaluaciones in respuestas.items %}
                    <tr>
                        <td rowspan="{{ evaluaciones|length }}">{{ calificacion.nivel_evaluacion.obtener_descripcion_completa }}</td>
                        {% for informacion_evaluacion in evaluaciones %}
                            {% for evaluacion, resultado in informacion_evaluacion.items %}
                                <td>{{ evaluacion.nombre }}</td>
                                <td>{{ resultado|floatformat:2 }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock contenido_panel %}
