{% extends "base.html" %}
{% load bootstrap4 %}

{% block titulo %}
    Registrar masivo equipos
{% endblock titulo %}

{% block titulo_pagina %}
    Registrar masivo equipos
{% endblock titulo_pagina %}

{% block miga_pan %}
    <li class="breadcrumb-item"><a href="javascript:;">Equipos</a></li>
    <li class="breadcrumb-item active">Registro masivo</li>
{% endblock miga_pan %}

{% block titulo_panel %}
    Registrar masivo equipos
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-12">
            Registrar la información de un varios equipos con los datos que esta en el archivo cargado
        </div>
    </div>
    <form method="post" enctype="multipart/form-data" autocomplete="off">{% csrf_token %}
        <div class="row mt-3">
            <div class="col-12">
                {% bootstrap_form form %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <a class="btn btn-secondary" href="{% url 'equipos:listado' %}">
                    <i class="icon-arrow-left"></i> Volver
                </a>
            </div>
            <div class="col-6" align="right">
                <button class="btn btn-principal" type="submit">
                    Registrar <i class="icon-arrow-right"></i>
                </button>
            </div>
        </div>
    </form>
{% endblock contenido_panel %}